// https://codyhouse.co/ds/docs/framework/

:root {
  --space-unit: 1rem;
}

:root,
* {
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --component-padding: var(--space-md);
}

///////////////////////////////////// Margin /////////////////////////////////////

// All sides

.m-xss {
  margin: var(--space-xss);
}

.m-xs {
  margin: var(--space-xs);
}

.m-sm {
  margin: var(--space-sm);
}

.m-md {
  margin: var(--space-md);
}

.m-lg {
  margin: var(--space-lg);
}

.m-xl {
  margin: var(--space-xl);
}

.m-xxl {
  margin: var(--space-xxl);
}

// Top side

.mt-xss {
  margin-top: var(--space-xss);
}

.mt-xs {
  margin-top: var(--space-xs);
}

.mt-sm {
  margin-top: var(--space-sm);
}

.mt-md {
  margin-top: var(--space-md);
}

.mt-lg {
  margin-top: var(--space-lg);
}

.mt-xl {
  margin-top: var(--space-xl);
}

.mt-xxl {
  margin-top: var(--space-xxl);
}

// Right side

.mr-xss {
  margin-right: var(--space-xss);
}

.mr-xs {
  margin-right: var(--space-xs);
}

.mr-sm {
  margin-right: var(--space-sm);
}

.mr-md {
  margin-right: var(--space-md);
}

.mr-lg {
  margin-right: var(--space-lg);
}

.mr-xl {
  margin-right: var(--space-xl);
}

.mr-xxl {
  margin-right: var(--space-xxl);
}

// Bottom side

.mb-xss {
  margin-bottom: var(--space-xss);
}

.mb-xs {
  margin-bottom: var(--space-xs);
}

.mb-sm {
  margin-bottom: var(--space-sm);
}

.mb-md {
  margin-bottom: var(--space-md);
}

.mb-lg {
  margin-bottom: var(--space-lg);
}

.mb-xl {
  margin-bottom: var(--space-xl);
}

.mb-xxl {
  margin-bottom: var(--space-xxl);
}

// Left side

.ml-xss {
  margin-left: var(--space-xss);
}

.ml-xs {
  margin-left: var(--space-xs);
}

.ml-sm {
  margin-left: var(--space-sm);
}

.ml-md {
  margin-left: var(--space-md);
}

.ml-lg {
  margin-left: var(--space-lg);
}

.ml-xl {
  margin-left: var(--space-xl);
}

.ml-xxl {
  margin-left: var(--space-xxl);
}

// Top and Bottom sides

.my-xss {
  margin-top: var(--space-xss);
  margin-bottom: var(--space-xss);
}

.my-xs {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}

.my-sm {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.my-md {
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
}

.my-lg {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
}

.my-xl {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
}

.my-xxl {
  margin-top: var(--space-xxl);
  margin-bottom: var(--space-xxl);
}

// Left and Right sides

.mx-xss {
  margin-left: var(--space-xss);
  margin-right: var(--space-xss);
}

.mx-xs {
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
}

.mx-sm {
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}

.mx-md {
  margin-left: var(--space-md);
  margin-right: var(--space-md);
}

.mx-lg {
  margin-left: var(--space-lg);
  margin-right: var(--space-lg);
}

.mx-xl {
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
}

.mx-xxl {
  margin-left: var(--space-xxl);
  margin-right: var(--space-xxl);
}

///////////////////////////////////// Padding /////////////////////////////////////

// All sides

.m-xss {
  margin: var(--space-xss);
}

.m-xs {
  margin: var(--space-xs);
}

.m-sm {
  margin: var(--space-sm);
}

.m-md {
  margin: var(--space-md);
}

.m-lg {
  margin: var(--space-lg);
}

.m-xl {
  margin: var(--space-xl);
}

.m-xxl {
  margin: var(--space-xxl);
}

// Top side

.pt-xss {
  padding-top: var(--space-xss);
}

.pt-xs {
  padding-top: var(--space-xs);
}

.pt-sm {
  padding-top: var(--space-sm);
}

.pt-md {
  padding-top: var(--space-md);
}

.pt-lg {
  padding-top: var(--space-lg);
}

.pt-xl {
  padding-top: var(--space-xl);
}

.pt-xxl {
  padding-top: var(--space-xxl);
}

// Right side

.pr-xss {
  padding-right: var(--space-xss);
}

.pr-xs {
  padding-right: var(--space-xs);
}

.pr-sm {
  padding-right: var(--space-sm);
}

.pr-md {
  padding-right: var(--space-md);
}

.pr-lg {
  padding-right: var(--space-lg);
}

.pr-xl {
  padding-right: var(--space-xl);
}

.pr-xxl {
  padding-right: var(--space-xxl);
}

// Bottom side

.pb-xss {
  padding-bottom: var(--space-xss);
}

.mp-xs {
  padding-bottom: var(--space-xs);
}

.pb-sm {
  padding-bottom: var(--space-sm);
}

.pb-md {
  padding-bottom: var(--space-md);
}

.pb-lg {
  padding-bottom: var(--space-lg);
}

.pb-xl {
  padding-bottom: var(--space-xl);
}

.pb-xxl {
  padding-bottom: var(--space-xxl);
}

// Left side

.pl-xss {
  padding-left: var(--space-xss);
}

.pl-xs {
  padding-left: var(--space-xs);
}

.pl-sm {
  padding-left: var(--space-sm);
}

.pl-md {
  padding-left: var(--space-md);
}

.pl-lg {
  padding-left: var(--space-lg);
}

.mp-xl {
  padding-left: var(--space-xl);
}

.pl-xxl {
  padding-left: var(--space-xxl);
}

// Top and Bottom sides

.py-xss {
  padding-top: var(--space-xss);
  padding-bottom: var(--space-xss);
}

.py-xs {
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
}

.py-sm {
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
}

.py-md {
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
}

.py-lg {
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
}

.py-xl {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

.py-xxl {
  padding-top: var(--space-xxl);
  padding-bottom: var(--space-xxl);
}

// Left and Right sides

.px-xss {
  padding-left: var(--space-xss);
  padding-right: var(--space-xss);
}

.px-xs {
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
}

.px-sm {
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
}

.px-md {
  padding-left: var(--space-md);
  padding-right: var(--space-md);
}

.px-lg {
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
}

.px-xl {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}

.px-xxl {
  padding-left: var(--space-xxl);
  padding-right: var(--space-xxl);
}
